html,body{
  size: A4;
  font-family: 'Poppins', sans-serif;
  color:#4e4e4e;
  margin:  auto;
}

h1 {
  text-align: center;
  color: #efc900;
}

p {
  margin-top: 50px;
  font-size: 12px;
  text-align: left;
}
table {
    box-shadow: 0px 3.5px 32px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    margin-top: 20px;
    font-size: 12px;
    /*background-color: #f5f7fb;*/
    font-family: arial, sans-serif;
    width: 100%;
    align-self: center;
    /*border-bottom: 1px solid #fd941b; */
    border-spacing: 0;
    background-color: white;
  }
  
  td{
    text-align: center;
    padding: 15px 10px;

  }

  th{
    /*background-color:  #652D52; */
    background-color: white;
    padding: 0;
  }

  th:first-child{
    width: 6%;
    
  }

  .table-header-container{
    background-color:  #652D52; 
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 5px;
  }

  .table-header-container-right{
    background-color:  #652D52; 
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 5px;
  }
/*
  .table-header-container:first-child{
    border-top-left-radius: 10px;
  }

  .table-header-container-right:last-child{
    border-top-right-radius: 10px;
  }
 */ 
  
  tr:nth-child(even) {
    background-color: #F1F1F1
  }

  tr{
    background-color: #D8D2D5;
  
  }

  tr{
    color: #652D52;
  }

  .flexContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .header-content{
    display: flex;
    width: 100%;
  }

  .header-left-content{
    display: flex;
    width: 35%;
    flex-direction: column;
    line-height: 1.7;
    padding: 0 0 20px 5%;
    color: black;
  }

  .header-right-content{
    border-bottom-left-radius: 16px;
    /*border-top-left-radius: 16px;*/
    background-color: #fd941b;
    color: white;
    display: flex;
    width: 52%;
    flex-direction: column;
    padding: 5px 5% 20px 3%;
    height: fit-content;
  }

  .title-service{ 
    font-size: 25px;
    font-weight: bold;
    height:65px;
    display: flex;
    align-items: center;
  }

  .factura-content{ 
    display: flex;
    width: 100%;
    font-size: 14px;

  }

  .factura-left-container,.factura-right-container{ 
    display: flex;
    flex-direction: column;
    width: 50%;
    line-height: 1.7;
    justify-content: space-between;
  }

  /*

  .factura-right-container{ 
    align-items: flex-end;
  }

  */

  .factura-subtitle{ 
    font-size: 14px;
    /*margin: 5px 0 0 0;*/
  }

  .factura-subtitle-supervisor{ 
    font-size: 14px;
    margin: 30px 0 5px 0;
  }


  .factura-important-info{ 
    font-weight: bold;
    font-size: 14px;
  }



  .facturador{ 
    font-weight: bold;
    font-size: 14px;
    margin: 15px 0;
    color: #652D52;
  }

  .facturador-info{ 
    font-size: 14px;
    color:#652D52;
    font-weight: normal;
  }

  .logo-container{ 
    height: 100px;
    display: flex;
    align-items: center;
  }

  .body-content{ 
    width: 90%;
    margin: 20px auto 0 auto;
  }

  .aditional-info-container{
    display: flex;
    width: 100%;
    margin: 50px 0;
    break-inside: avoid;
  }

  .observaciones-container{
    width: 43%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    line-height: 1.4;
    background-color: #F1F1F1;
    color: #652D52;
    border-bottom-right-radius: 7px;
    padding:3% 5% 3% 2%;
  }

  .aditional-info-subtitle{
    font-weight: bold;
    font-size: 14px;
    
  }

  .observaciones-big-content{
    margin-bottom: 30px;
    font-size: 14px;
  }

  .observaciones-content span{
    font-size: 14px;
    font-weight: bold;
  }

  .observaciones-content{
    font-size: 14px;
  }

  .price-info-container{
    width: 30%;
    /*padding: 0 5% 0 20%;*/
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #652D52;
  }

  .price-item-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
  }

  .price-item-amount{
    font-weight: normal;
    margin-left: 30px;
  }

  .total-price-container{
    width: 20%;
    background-color: #fd941b; 
    color: white;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .total-price-text{
    font-size: 16px;
  }

  .total-price-amount{
    font-size: 25px;
    font-weight: bold;
  }

  .terminos-container,.transfrencias-container {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 1.7;
    width: 50%;
    color: #652D52;
  }

  .transfrencias-container{
    width: 25%;
    padding-left: 25%;
    justify-content: center;
  }

  .terminos-title,.transferencias-title{
    font-weight: bold;
    margin-bottom: 7px;
    font-size: 16px;
  }

  .terminos-item span, .firma-info{
    font-weight: bold;
  }

  .firmas-contianer{
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    justify-content: center;
  }

  .firma-item{
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    font-size: 14px;
    line-height: 1.8;
    align-items: center;
  }

  .footer-container{
    width: 100%;
    background-color: #652D52;
    color: white;
    display: flex;
    /*padding: 20px 0 40px 0;*/
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    justify-content: center;
    position: fixed;
    bottom: 0;
    right: 0px;
    /*left: 10%;*/
    height: 70px;
    align-items: center;
}

  .footer-content{
    font-size: 14px;
  }


  .descripcion-item-container{
    line-height: 1.5;
    margin-right: 50px;
    text-align: left;
  }

  .descripcion-item{
    margin-bottom: 20px;
  }

  .materiales-container,.valor-total{
    margin-bottom: 20px;
    height: 50px;
  }

  td{
    max-width: 20vw;
    vertical-align: top;
  }

  .valor-total{
    font-weight: bold;
  }

  .material-unit{
    opacity: 0.5;
  }

  use{
    width: 50px;
    height: 50px;
  }

  .print-top-padding {
    margin-bottom: 150px;
}

.avoid-break{
  break-inside: avoid;
  display: flex;
}

.icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.facturador-info {
  display: flex;
  width: 100%;
}

.service-info-main-container{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 50px 0;
}

.service-info-container{
  display: flex;
}

.service-text-container {
  display: flex;
  flex-direction: column;
  color: #652D52;
  font-size: 12px;
  justify-content: center;
  margin-left: 5px;
}

.service-text-title{
  font-weight: bold;

}

.cotizacion-title{
  font-size: 18px;
  font-weight: bold;
  color: #652D52;
  text-align: center;
  margin: 40px 0;
}

.anexos-title{
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #652D52;
  margin-top: 70px;

}

.item-label-container{
  width: 100vw;
  display: flex; 
  margin-top: 100px;
}

.item-label{
  padding: 10px 4% 10px 5% ;
  background-color: #652D52;
  color: white;
  border-radius: 2px;
}

.item-resources {
  margin-bottom: 150px;
  display: flex;
  flex-wrap: wrap;
}

.resource-container{
  max-width: 40%;
  margin-right: 5px;
}

.resource-container img{
  width: 100%;
}

.bottom-bar{
  background-color:#652D52;
  height: 40px;
  width: 100%;
  margin-top: 5px;
  border-radius: 0px 0px 7px 7px;
}

.nro-table-title{
  border-top-left-radius: 7px;
}

.last-header-element{
  border-top-right-radius: 7px;
}

.anexo-content {
    width: 90%;
    margin: 20px auto 90px auto;
}

.observaciones-content-container{
  display: flex;
  justify-content: space-between;
}

.top-border-total{
  border-top: 2px solid #652D52;
  align-items: center;
}

.container-subtitle{
  display: flex;
}

.subtitle-icon{
  margin-right: 5px;
  align-self: center;

}


@page {
  margin: 12mm 0 12mm 0;
}








